@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #121212;
    font-size: 1em;
    line-height: 2em;
    background-color: #ededed;
}

.page {
    max-width: 800px;
    min-width: 600px;
    margin: 5vh auto;
    background-color: #f1f1f1;
    padding: 3em;
    border-radius: 20px;
    transition: ease-in 200ms;
}

.page:hover {
    background-color: #f9f9f9;
    transition: ease-in 200ms;
    box-shadow: rgba(18, 18, 18, 0.1) 1px 1px;
}

nav img {
    width: 12em
}

nav {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 48px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.menu-item {
    color: black;
    text-decoration: none;
    transition: ease-in 200ms;
}

.menu-item:hover {
    font-weight: bold;
    border: 1px solid #FF9900;
    border-radius: 5px;
    transition: ease-in 200ms;
    padding: 0.2em;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#treino {
    width: 500px;
}

.text h1 {
    font-family: 'Inter', sans-serif;
    font-size: 3.5em;
    line-height: 1em;
    font-weight: normal;
}

.text h1 span {
    color: #FF9900;
    font-weight: bold;
}

.text p {
    font-size: 1em;
    line-height: 2em;
}

#infos {
    margin: auto;
    display: flex;
    gap: 10vw;
}

footer p {
    font-size: 1em;
    line-height: 2em;
    text-align: center;
}

footer a {
    font-weight: bold;
    text-decoration: none;
    color: #121212;
}

footer p a {
    transition: ease-in-out 200ms;
}

footer p a:hover {
    color: #FF9900;
    transition: ease-in-out 200ms;
}